<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>888962360042-fbcrkf12opj2id9qrl0fqtlaouigln77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888962360042-fbcrkf12opj2id9qrl0fqtlaouigln77</string>
	<key>API_KEY</key>
	<string>AIzaSyAV2k9u7lai_X0qTKWQkOgm5U3AmqB5tFE</string>
	<key>GCM_SENDER_ID</key>
	<string>888962360042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bellarune.bellarune</string>
	<key>PROJECT_ID</key>
	<string>bellarune-viro</string>
	<key>STORAGE_BUCKET</key>
	<string>bellarune-viro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888962360042:ios:aedb16c78c652c83</string>
	<key>DATABASE_URL</key>
	<string>https://bellarune-viro.firebaseio.com</string>
</dict>
</plist>